appnope
asttokens
beautifulsoup4
certifi
charset-normalizer
comm
debugpy
decorator
executing
filelock
frozendict
fsspec
html5lib
idna
ipykernel
ipython
jedi
Jinja2
jupyter_client
jupyter_core
lxml
MarkupSafe
matplotlib-inline
mpmath
multitasking
nest-asyncio
networkx
numpy
packaging
pandas
parso
peewee
pexpect
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
python-dateutil
pytz
pyzmq
requests
setuptools
six
soupsieve
stack-data
sympy
torch
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
yfinance
cvxpy
